page-school-detail {



  .bottom-scroll .school-profile{
    width: 100%;
    height: 280px;
  }


  .lesson-content{
    .item-info{
      margin-left: 20px;
      max-width: 150px;
    }

    .item-title{
      color:color($colors,dark);
      width: 150px;
    }
    .content{
      color:color($colors,badge);
      //max-width: 40vw;
    }

  }

}
