<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>附近院校</ion-title>
  </ion-navbar>
</ion-header>

<!--//news guide-->
<ion-content  class="schools" padding>
  <div class="city-selector">
    <ion-item>
      <ion-label>当前所处</ion-label>
      <city-picker item-content
                   [cancelText]="'取消'"
                   [doneText]="'完成'"
                   [separator]="' - '"
                   [citiesData]="cityData"
                   [(ngModel)]="cityName"
                   (ionChange)="cityChange($event)">

      </city-picker>
    </ion-item>
  </div>



  <!--<ion-row class="city-selector">-->
    <!--<ion-item>-->
    <!--<ion-label>省份</ion-label>-->
    <!--<ion-select [(ngModel)]="province" (ionChange)="onProvinceChange()">-->
      <!--<ion-option *ngFor="let _province of provinceList" [value]="_province">{{_province.name}}</ion-option>-->
    <!--</ion-select>-->
  <!--</ion-item>-->

    <!--<ion-item>-->
      <!--<ion-label>地级市</ion-label>-->
      <!--<ion-select [(ngModel)]="city" (ionChange)="onCityChange()">-->
        <!--<ion-option *ngFor="let _city of cityList" [value]="_city">{{_city.name}}</ion-option>-->
      <!--</ion-select>-->
    <!--</ion-item>-->

    <!--<ion-item>-->
      <!--<ion-label>县级市</ion-label>-->
      <!--<ion-select [(ngModel)]="subcity" (ionChange)="onSubCityChange()">-->
        <!--<ion-option *ngFor="let _subcity of subCityList" [value]="_subcity">{{_subcity.name}}</ion-option>-->
      <!--</ion-select>-->
    <!--</ion-item>-->


  <!--</ion-row>-->


  <ion-list class="school-list">
    <div class="item-box" *ngFor="let _school of arrSchool"  (click)="viewSchool(_school)">
      <div>
        <img src="{{_school.school_profile}}"  class="item-profile"/>
      </div>
      <div class="item-info">
        <div class="title-box">
          <h4 class="item-title">{{_school.school_name}}</h4>
        </div>

        <p class="content">{{_school.school_content}}</p>
        <!--<p class="content">{{_school.activities}}</p>-->
      </div>
      <div class="item-bagde">
        <p class="item-distance">{{_school.location}}</p>
      </div>

    </div>
  </ion-list>



</ion-content>
