page-lesson {

  ion-content{

    .lesson-head ion-segment{
      color: #30d05f;
      background-color: #0a86d4;
      text-color:   #30d05f;
      ion-segment-button  {
        color: #30d05f;
        text-color:   #30d05f;
      }
    }

    .lesson-content{
      ion-list{

        video{
          width: 100%;
          height: auto;
          .videoPlayer{
            width: 100%;
            height: auto;
          }
        }

        .comments{
          width: 100%;
          margin-bottom: 5px;
          display: flex;
          flex-direction: column;

          .comment-post {
            //background-color: #3b5998;
            height: auto;
            //display: flex;
            //flex-direction: column;
          }
          .loading-comment{
            width: auto;
            text-align: center;
            float: right;
            display: flex;
            flex-direction: row;
            margin-right: 10px;
            margin-top: -10px;
            //padding-top: 0%;
            //background-color: #1b94e0;

            ion-spinner * {
              width: 28px;
              height: 28px;
              stroke: #444;
              //background-color: #2ec95c;
              margin-left: auto;
              margin-right: auto;
              fill: #222;
            }
          }


          .send-comment{
              padding-right: 10px;
              //height: 100px;
            //background-color: #3b5998;
              width: auto;
              //display:flex;
              //flex-direction: row;
              float: right;

              .button_emoji{
                float: right;
              }

              .button-comment{
                width: 50px;
                height: 30px;
                float: right;
                text-align: center;
              }
           }

          .card-post-comment{
            overflow: scroll;
            textAreaComment{
              overflow: scroll;
            }
          }

          .button-comment{
              width: auto;
              font-size: 15px;
              float: right;
              height: auto;
            }


          .comment-contents{
            display: flex;
            flex-direction: column;
          }

          .comment-content{
            display: flex;
            flex-direction: row;
            padding-bottom: 20px;
            //padding: 10px ;
            //overflow: visible;
            //background-color: #2ec95c;
            .reply-div{
              width:100%;
              //float: right;
              //padding:5px;
              //background-color: #2ec95c;
              //display: flex;
              //flex-direction: row;

              .bt-sub{
              float: right;
              }

              .bt-reply{
                color: color($colors, badge);
                //float: right;
              }
            }

            .head-comment-avatar{
              //background-color: #1b94e0;
              width:20%;
              padding: 3px;
              //height:80px;
              ion-thumbnail img{
                width:50px;
                height:50px;
              }
            }

            .head-comment-content{
              width: 80%;
              padding: 0;
              display: flex;
              flex-direction: column;
              //padding-top: 0;

              //background-color: #2ec95c;
              .user-name{
                font-size: 17px;
                top: 0;
                color: color($colors, primary);
              }
              .user-name  span{
                margin-left: 20px;
                font-size: 12px;
                color: color($colors, badge);
              }

              .line-break{
                height: auto;
                //overflow: inherit ;
                //text-overflow: inherit ;
                //background-color: #1c99e8;
                //white-space: normal;
                max-width:60vw;
              }

              .sub-comments{
                display: flex;
                flex-direction: row;
                margin-bottom: 5px;

              }

              ion-thumbnail img{
                width:50px;
                height:50px;
              }
            }

          }

          .no-comments{
            text-align: center;
            font-size: large;
            font-family: Calibri ;
            color: color($colors, link2);
          }

        }

        .bt-updatecard{
          //height: ;
          height: 100%;
          text-align: center;
        }

        .record-text{
          width: 100%;
          text-align: center;
        }

        .bt-recorder{
          background-color: transparent;
        }
        //.vocabulary {

        div {
          .vacabulary-main {
            display: flex;
            flex-direction: row;
            ion-col {
              background-color: #8f8f8f;
              //button {
              //  color: #0a86d4;
              //  background-color: #F4D03F;
              //  //margin-top:100%;
              //  text-align: center;
              //  //margin-left: auto;
              //  //margin-right: auto;
              //  height: 100%;
              //  ion-icon {
              //    text-align: center;
              //    font-size: 40px;
              //  }
              //}
              //
              //backArrow{
              //  visibility: hidden;
              //}

            }

            ion-col .vocabulary-card {
              margin-left: auto;
              margin-right: auto;
              width: 100%;
              height: auto;
              background-color: #0a86d4;

              ion-card-header {
                //width:50%;
                text-align: center;
                span {
                  color: #9eeeb6;
                }
              }

              ion-card-content {
                text-align: center;
              }

            }
          }

          .avatar {
            //width:100%;
            margin-top: 10%;
            margin-bottom: 10%;
            //height: 20vh;
            //background-color: #F4D03F;
          }

          .voice-recorder {
            display: flex;
            //flex-direction: row;
            margin-left: auto;
            margin-right: auto;
            width: 100%;

            //background-color: #F4D03F;

          }

          .voice-recorder div {
            //flex: 1;
            margin-left: auto;
            margin-right: auto;
            button {
              border-radius: 60px;
              width: 100px;
              height: 60px;
              margin-left: auto;
              margin-right: auto;
            }

            .bt-recorder ion-icon {

              font-size: 60px;
            }

          }
        }

        page-lesson  img{
          max-width: 140px;
          border-radius: 50%;
        }

        .count-down-text{
          text-align: center;
        }

      }

    }


    .word-playing{
      height: 20vh;
      //background-color: #3b5998;
      p{
        font-size: small;
      }
    }

    .image-chooser{
      //display: grid;
      //grid-template-columns: 25vh 25vh ;
      //grid-gap: 10%;
      //background-color: #444;
      //color: #444;
      height: 50vh;
      width: 100%;
      bottom: 0;
      padding: 20px;

      .image-box{
        position: relative;
        float: left;
        //background-color: #0a86d4;
        width: 50%;
      }
      .answerInfo{
        z-index: 100;
        top: 0;
        left:10px;
        position: absolute;
      }

      img{
        height: 22vh;
        width: 22vh;
      }

    }
  }

}

