page-lesson {

  ion-content{

    .lesson-head ion-segment{
      color: #30d05f;
      background-color: #0a86d4;
      text-color:   #30d05f;
      ion-segment-button  {
        color: #30d05f;
        text-color:   #30d05f;
      }
    }

    .lesson-content{
      ion-list{

        video{
          width: 100%;
          height: auto;
          .videoPlayer{
            width: 100%;
            height: auto;
          }
        }

        .comments{
          width: 100%;
          margin-bottom: 5px;
          display: flex;
          flex-direction: column;

          .comment-post {
            //background-color: #3b5998;
            height: auto;
            //display: flex;
            //flex-direction: column;
          }
          .loading-comment{
            width: auto;
            text-align: center;
            float: right;
            display: flex;
            flex-direction: row;
            margin-right: 10px;
            margin-top: -10px;
            //padding-top: 0%;
            //background-color: #1b94e0;

            ion-spinner * {
              width: 28px;
              height: 28px;
              stroke: #444;
              //background-color: #2ec95c;
              margin-left: auto;
              margin-right: auto;
              fill: #222;
            }
          }


          .send-comment{
              padding-right: 10px;
              //height: 100px;
            //background-color: #3b5998;
              width: auto;
              //display:flex;
              //flex-direction: row;
              float: right;

              .button_emoji{
                float: right;
              }

              .button-comment{
                width: 50px;
                height: 30px;
                float: right;
                text-align: center;
              }
           }

          .card-post-comment{
            overflow: scroll;
            textAreaComment{
              overflow: scroll;
            }
          }

          .button-comment{
              width: auto;
              font-size: 15px;
              float: right;
              height: auto;
            }


          .comment-contents{
            display: flex;
            flex-direction: column;
          }

          .comment-content{
            display: flex;
            flex-direction: row;
            padding-bottom: 20px;
            //padding: 10px ;
            //overflow: visible;
            //background-color: #2ec95c;
            .reply-div{
              width:100%;
              //float: right;
              //padding:5px;
              //background-color: #2ec95c;
              //display: flex;
              //flex-direction: row;

              .bt-sub{
                float: right;
                text-align: center;
              }

              .bt-reply{
                color: color($colors, badge);
                //float: right;
              }
            }

            .head-comment-avatar{
              //background-color: #1b94e0;
              width:20%;
              padding: 3px;
              //height:80px;
              ion-thumbnail img{
                width:50px;
                height:50px;
              }
            }

            .head-comment-content{
              width: 80%;
              padding: 0;
              display: flex;
              flex-direction: column;
              //padding-top: 0;

              //background-color: #2ec95c;
              .user-name{
                font-size: 17px;
                top: 0;
                color: color($colors, primary);
              }
              .user-name  span{
                margin-left: 20px;
                font-size: 12px;
                color: color($colors, badge);
              }

              .line-break{
                height: auto;
                //overflow: inherit ;
                //text-overflow: inherit ;
                //background-color: #1c99e8;
                //white-space: normal;
                max-width:60vw;
              }

              .sub-comments{
                display: flex;
                flex-direction: row;
                margin-bottom: 5px;

              }

              ion-thumbnail img{
                width:50px;
                height:50px;
              }
            }

          }

          .no-comments{
            text-align: center;
            font-size: large;
            font-family: Calibri ;
            color: color($colors, link2);
          }

        }


        //.vocabulary {
        page-lesson  img{
          max-width: 140px;
          border-radius: 50%;
        }


      }

    }




    .bt-start-dub{
      height: auto;
      width: 100px;
      margin-left: 35%;
      //margin-right: 45%;
      background-color: transparent;
    }

    .top-text{
      width: 100%;
      text-align: center;
      color: color($colors,primary);
    }

    .info{
      width: 100%;
      margin-top: 50%;
      text-align: center;
      color: color($colors,primary);
    }

    .bt-text{
      width: 100%;
      //margin-top: 60%;
      text-align: center;
      color: color($colors,primary);
    }


  }

}

