<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{currentCourse.book_name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="lesson-head top-fixed" >
    <ion-segment [(ngModel)]="lesson_parts" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="book">
        {{lesson.lesson_name}}
      </ion-segment-button>
      <ion-segment-button value="exercise">
        练习册
      </ion-segment-button>
      <ion-segment-button value="vocabulary">
        单词练习
      </ion-segment-button>
    </ion-segment>
  </div>

  <ion-col no-padding class="lesson-content bottom-scroll" [ngSwitch]="lesson_parts">

    <ion-list  *ngSwitchCase="'book'">
      <video  controls="controls" preload="metadata"  class="videoPlayer"(play)="viewCourse(TEXTBOOK)">
        <source src="{{lesson.textbook_video}}" type="video/mp4"/>
      </video>

      <ion-row>
        <ion-col>
          <button ion-button icon-left clear small (click)="likeCourse(TEXTBOOK)" [color]="rtLessonInfo[TEXTBOOK].likeButtonColor">
            <ion-icon name="thumbs-up"></ion-icon>
            <div>{{rtLessonInfo[TEXTBOOK].likes.length}}</div>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-left clear small>
            <ion-icon name="text"></ion-icon>
            <div>{{comments[TEXTBOOK].length }}</div>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-left clear small>
            <ion-icon name="eye"></ion-icon>
            <div>{{rtLessonInfo[TEXTBOOK].views}}</div>
          </button>
        </ion-col>
      </ion-row>

      <div class="comments">
        <div class="comment-post">
          <ion-label stacked>评论</ion-label>
          <ion-card class="card-post-comment">
            <ion-textarea #textAreaComment [(ngModel)]="textArea1" placeHolder="在此处输入评论..." type="text"></ion-textarea>
          </ion-card>
          <div class="send-comment" >
            <button class="button-comment"  ion-button (click)="postComment()" >发表  <ion-spinner  name="dots" *ngIf="isPosting"></ion-spinner></button>
            <button class="button_emoji" ion-button clear icon-only (click)="toggled = !toggled" [(emojiPickerIf)]="toggled" [emojiPickerDirection]="'top'"
                    (emojiPickerSelect)="pickEmoji(false,$event)"><ion-icon name="happy"></ion-icon>
            </button>
          </div>
        </div>

        <div  class="comment-contents">
          <div class="loading-comment" *ngIf="isLoadingComment">
            <ion-spinner  name="bubbles" ></ion-spinner>
          </div>

          <p class="no-comments" *ngIf="comments[TEXTBOOK].length < 1">还没有人评论,Be The First!</p>

          <div class="comment-content" *ngFor="let _comment of comments[TEXTBOOK]">
          <!--<ion-list>-->
            <!--<ion-item clss="head-comments" >-->
            <div class="head-comment-avatar">
                <ion-thumbnail item-left>
                  <img (click)="gotoViewUser(_comment)" src="{{_comment.avatar}}">
                </ion-thumbnail>
            </div>
            <div class="head-comment-content" >
              <div class="user-name" >{{_comment.user_name}}<span >{{_comment.comment_date}}</span></div>
              <DD class="line-break">{{_comment.content}}</DD>

              <div class="reply-div" no-padding>
                  <button class="bt-sub" ion-button icon-left clear small (click)="likeComment(_comment)" [color]="_comment.likeButtonColor">
                    <ion-icon name="thumbs-up"></ion-icon>
                    <div *ngIf="_comment.likes_amount > 0">{{_comment.likes_amount}}</div>
                  </button>

                    <button class="bt-sub" *ngIf=" _comment.subComments.length > 0" ion-button icon-left clear small (click)="showReply(_comment)">
                      <ion-icon  name={{_comment.showHidenIcon}}></ion-icon>
                      {{_comment.showHidenText}}
                    </button>

                  <button class="bt-sub bt-reply" ion-button icon-left clear small (click)="replyComment(_comment)" >
                    <ion-icon  name="text"></ion-icon>回复
                  </button>
                </div>

              <div class="comment-post" *ngIf="_comment.isReplying">
                <ion-card class="card-post-comment">
                  <ion-textarea #textAreaComment1 [(ngModel)]="textArea2" placeHolder="" type="text"></ion-textarea>
                </ion-card>
                <div class="send-comment" >
                  <button class="button-comment"  ion-button (click)="postCommentUnderComment(_comment,_comment)" > 回复  <ion-spinner  name="dots" *ngIf="isPosting"></ion-spinner></button>
                  <button class="button-comment" ion-button clear icon-only (click)="_comment.toggled = !_comment.toggled" [(emojiPickerIf)]="_comment.toggled" [emojiPickerDirection]="'top'"
                          (emojiPickerSelect)="pickEmoji(true,$event)"><ion-icon name="happy"></ion-icon>
                  </button>
                  <button class="button-comment"  ion-button (click)="cancel(_comment)" >取消</button>
                </div>
              </div>

                  <!--reply users-->
              <div  *ngIf="_comment.showReply">
                  <div class="comment-content" *ngFor="let _subcomment of _comment.subComments">
                    <div class="head-comment-avatar">
                      <ion-thumbnail item-left>
                        <img (click)="gotoViewUser(_subcomment)"  src="{{_subcomment.avatar}}">
                      </ion-thumbnail>
                    </div>

                    <div class="head-comment-content">
                      <div class="user-name"  >{{_subcomment.user_name}}<span >{{_subcomment.comment_date}}</span></div>
                      <p class="line-break">{{_subcomment.content}}</p>

                      <div class="reply-div" no-padding>
                        <button class="bt-sub" ion-button icon-left clear small (click)="likeComment(_subcomment)" [color]="_subcomment.likeButtonColor">
                          <ion-icon name="thumbs-up"></ion-icon>
                          <div *ngIf="_subcomment.likes_amount > 0"> {{_subcomment.likes_amount}}</div>
                        </button>

                        <button class="bt-sub" class="bt-reply" ion-button icon-left clear small (click)="replyComment(_subcomment)" >
                          <ion-icon  name="text"></ion-icon>回复
                        </button>
                      </div>


                      <div class="comment-post" *ngIf="_subcomment.isReplying">
                        <ion-card class="card-post-comment">
                          <ion-textarea #textAreaComment1 [(ngModel)]="textArea2" placeHolder="" type="text"></ion-textarea>
                        </ion-card>
                        <div class="send-comment" >
                          <button class="button-comment"  ion-button (click)="postCommentUnderComment(_subcomment,_comment)" > 回复  <ion-spinner  name="dots" *ngIf="isPosting"></ion-spinner></button>
                          <button class="button_emoji" ion-button clear icon-only (click)="_subcomment.toggled = !_subcomment.toggled" [(emojiPickerIf)]="_subcomment.toggled" [emojiPickerDirection]="'top'"
                                  (emojiPickerSelect)="pickEmoji(true,$event)"><ion-icon name="happy"></ion-icon>

                          </button>
                          <button class="button-comment"  ion-button (click)="cancel(_subcomment)" >取消</button>
                        </div>
                      </div>
                    </div>

                  </div>
              </div>
            </div>

            <!--</ion-item>-->
          <!--</ion-list>-->
           </div>
        </div>

      </div>
    </ion-list>

    <ion-list *ngSwitchCase="'exercise'">
      <video  controls="controls" preload="metadata"  class="videoPlayer" (play)="viewCourse(WORDBOOK)">
        <source src="{{lesson.wordbook_video}}" type="video/mp4"/>
      </video>

      <ion-row>
        <ion-col>
          <button ion-button icon-left clear small (click)="likeCourse(WORDBOOK)" [color]="rtLessonInfo[WORDBOOK].likeButtonColor">
            <ion-icon name="thumbs-up"></ion-icon>
            <div>{{rtLessonInfo[WORDBOOK].likes.length}}</div>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-left clear small>
            <ion-icon name="text"></ion-icon>
            <div>{{comments[WORDBOOK].length}}</div>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-left clear small>
            <ion-icon name="eye"></ion-icon>
            <div>{{rtLessonInfo[WORDBOOK].views}}</div>
          </button>
        </ion-col>
      </ion-row>

      <div class="comments">
        <div class="comment-post">
          <ion-label stacked>评论</ion-label>
          <ion-card class="card-post-comment">
            <ion-textarea #textAreaComment [(ngModel)]="textArea1" placeHolder="在此处输入评论..." type="text"></ion-textarea>
          </ion-card>
          <div class="send-comment" >
            <button class="button-comment"  ion-button (click)="postComment()" >发表  <ion-spinner  name="dots" *ngIf="isPosting"></ion-spinner></button>
            <button class="button_emoji" ion-button clear icon-only (click)="toggled = !toggled" [(emojiPickerIf)]="toggled" [emojiPickerDirection]="'top'"
                    (emojiPickerSelect)="pickEmoji(false,$event)"><ion-icon name="happy"></ion-icon>
            </button>
          </div>
        </div>

        <div  class="comment-contents">
          <div class="loading-comment" *ngIf="isLoadingComment">
            <ion-spinner  name="bubbles" ></ion-spinner>
          </div>

          <p class="no-comments" *ngIf="comments[WORDBOOK].length < 1">还没有人评论,Be The First!</p>

          <div class="comment-content" *ngFor="let _comment of comments[WORDBOOK]">
            <!--<ion-list>-->
            <!--<ion-item clss="head-comments" >-->
            <div class="head-comment-avatar">
              <ion-thumbnail item-left>
                <img (click)="gotoViewUser(_comment)" src="{{_comment.avatar}}">
              </ion-thumbnail>
            </div>
            <div class="head-comment-content" >
              <div class="user-name" >{{_comment.user_name}}<span >{{_comment.comment_date}}</span></div>
              <DD class="line-break">{{_comment.content}}</DD>

              <div class="reply-div" no-padding>
                <button class="bt-sub" ion-button icon-left clear small (click)="likeComment(_comment)" [color]="_comment.likeButtonColor">
                  <ion-icon name="thumbs-up"></ion-icon>
                  <div *ngIf="_comment.likes_amount > 0">{{_comment.likes_amount}}</div>
                </button>

                <button class="bt-sub" *ngIf=" _comment.subComments.length > 0" ion-button icon-left clear small (click)="showReply(_comment)">
                  <ion-icon  name={{_comment.showHidenIcon}}></ion-icon>
                  {{_comment.showHidenText}}
                </button>

                <button class="bt-sub bt-reply" ion-button icon-left clear small (click)="replyComment(_comment)" >
                  <ion-icon  name="text"></ion-icon>回复
                </button>
              </div>

              <div class="comment-post" *ngIf="_comment.isReplying">
                <ion-card class="card-post-comment">
                  <ion-textarea #textAreaComment1 [(ngModel)]="textArea2" placeHolder="" type="text"></ion-textarea>
                </ion-card>
                <div class="send-comment" >
                  <button class="button-comment"  ion-button (click)="postCommentUnderComment(_comment,_comment)" > 回复  <ion-spinner  name="dots" *ngIf="isPosting"></ion-spinner></button>
                  <button class="button-comment" ion-button clear icon-only (click)="_comment.toggled = !_comment.toggled" [(emojiPickerIf)]="_comment.toggled" [emojiPickerDirection]="'top'"
                          (emojiPickerSelect)="pickEmoji(true,$event)"><ion-icon name="happy"></ion-icon>
                  </button>
                  <button class="button-comment"  ion-button (click)="cancel(_comment)" >取消</button>
                </div>
              </div>

              <!--reply users-->
              <div  *ngIf="_comment.showReply">
                <div class="comment-content" *ngFor="let _subcomment of _comment.subComments">
                  <div class="head-comment-avatar">
                    <ion-thumbnail item-left>
                      <img (click)="gotoViewUser(_subcomment)"  src="{{_subcomment.avatar}}">
                    </ion-thumbnail>
                  </div>

                  <div class="head-comment-content">
                    <div class="user-name"  >{{_subcomment.user_name}}<span >{{_subcomment.comment_date}}</span></div>
                    <p class="line-break">{{_subcomment.content}}</p>

                    <div class="reply-div" no-padding>
                      <button class="bt-sub" ion-button icon-left clear small (click)="likeComment(_subcomment)" [color]="_subcomment.likeButtonColor">
                        <ion-icon name="thumbs-up"></ion-icon>
                        <div *ngIf="_subcomment.likes_amount > 0"> {{_subcomment.likes_amount}}</div>
                      </button>

                      <button class="bt-sub" class="bt-reply" ion-button icon-left clear small (click)="replyComment(_subcomment)" >
                        <ion-icon  name="text"></ion-icon>回复
                      </button>
                    </div>


                    <div class="comment-post" *ngIf="_subcomment.isReplying">
                      <ion-card class="card-post-comment">
                        <ion-textarea #textAreaComment1 [(ngModel)]="textArea2" placeHolder="" type="text"></ion-textarea>
                      </ion-card>
                      <div class="send-comment" >
                        <button class="button-comment"  ion-button (click)="postCommentUnderComment(_subcomment,_comment)" > 回复  <ion-spinner  name="dots" *ngIf="isPosting"></ion-spinner></button>
                        <button class="button_emoji" ion-button clear icon-only (click)="_subcomment.toggled = !_subcomment.toggled" [(emojiPickerIf)]="_subcomment.toggled" [emojiPickerDirection]="'top'"
                                (emojiPickerSelect)="pickEmoji(true,$event)"><ion-icon name="happy"></ion-icon>

                        </button>
                        <button class="button-comment"  ion-button (click)="cancel(_subcomment)" >取消</button>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <!--</ion-item>-->
            <!--</ion-list>-->
          </div>
        </div>

      </div>
    </ion-list>

    <ion-list no-padding class="vocabulary" *ngSwitchCase="'vocabulary'" >

      <div [ngSwitch]="course_id">

        <div  *ngSwitchCase="1">
          <div class="student"*ngIf="userData.userInfo.identity == MyUserType.student">

            <div [ngSwitch]="viewState">

              <div class="first-enter"  *ngSwitchCase="0">
                <p class="info">空旷旷,马上点击下面按钮开始作业吧</p>
                <button class="bt-start-dub" (click)="startVocabularyRecording(true)">
                  <img width="60" height="60" class="input-img"  src="assets/img/start.png" />
                </button>
                <p class="bt-text">录音练习</p>
              </div>

              <div class="review" *ngSwitchCase="1">

                <p class="info">上次作业于{{submittedHomework.created_date}}成功提交</p>
                <!--<p class="bt-text">来自老师的留言:{{submittedHomework.commentary}} </p>-->
                <button class="bt-start-dub" (click)="startVocabularyRecording(true)">
                  <img width="60" height="60" class="input-img"  src="assets/img/start.png" />
                </button>
                <p class="bt-text">预览</p>
              </div>

            </div>

          </div>

          <div class="student"*ngIf="userData.userInfo.identity == MyUserType.teacher">
            <div *ngIf="Object.keys(submittedHomework).length <= 0">
              <p class="info">还没有学生提交作业</p>
            </div>
            <div *ngIf="Object.keys(submittedHomework).length > 0">
              <ion-list>
                <ion-item>
                  <div class="item-box" >
                    <div>
                      <img  src="assets/icon/activity.png"  class="item-profile-small"/>
                    </div>
                    <div class="item-info">
                      <div class="title-box">
                        <h3 class="item-title"> {{_activity.activity_name}}</h3>
                      </div>
                      <p class="content">{{_activity.activity_content}}</p>
                    </div>
                    <div class="item-bagde">
                      <p class="item-distance">{{_activity.created_date}}</p>
                    </div>
                  </div>
                </ion-item>
              </ion-list>

            </div>
          </div>

          <div class="student"*ngIf="userData.userInfo.identity != MyUserType.teacher && userData.userInfo.identity != MyUserType.student">
            <p class="info">还没有未您创建该页面</p>
          </div>
        </div>

        <div *ngSwitchCase="2">

          <div [ngSwitch]="viewState">

            <div class="first-enter"  *ngSwitchCase="0">
              <p class="info">空旷旷,马上点击下面按钮开始作业吧</p>
              <button class="bt-start-dub" (click)="startImgSelectiong()">
                <img width="60" height="60" class="input-img"  src="assets/img/start.png" />
              </button>
              <p class="bt-text">听词选图</p>
            </div>

            <div class="review" *ngSwitchCase="1">
              <p class="top-text">共测试{{testResults.length}}次</p>
              <div *ngFor="let _testResult of testResults">
                <p class="user-name">{{_testResult.wrong_times}}<span >{{_testResult.comment_date}}</span></p>
              </div>
            </div>

          </div>

        </div>

        <div *ngSwitchCase="3">

          <div [ngSwitch]="viewState">

            <div class="first-enter"  *ngSwitchCase="0">
              <p class="info">空旷旷,马上点击下面按钮开始作业吧</p>
              <button class="bt-start-dub" (click)="startDubbing()">
                <img width="60" height="60" class="input-img"  src="assets/img/start.png" />
              </button>
              <p class="bt-text">配音</p>
            </div>

            <div class="review" *ngSwitchCase="1">
              <div *ngFor="let _dubVideo of dubVideos">
                <h4 class="dub-title">{{_dubVideo.dub_title}}</h4>
                <video  controls="controls" preload="metadata"  class="videoPlayer" >
                  <source src="{{_dubVideo.video}}" type="video/mp4"/>
                </video>
                <p class="video-info">{{_dubVideo.dub_info}}</p>

              </div>
            </div>

          </div>

        </div>

      </div>
      <!--<div *ngIf="userData.userInfo.identity == MyUserType.teacher">-->
        <!--<ion-item *ngFor="let homework of arrHomework" (click) = "playAll(homework.audios)">-->
          <!--<ion-avatar item-left>-->
            <!--<img src={{homework.studen_phone}}>-->
          <!--</ion-avatar>-->
          <!--<h2>Finn</h2>-->
          <!--<h3></h3>-->
        <!--</ion-item>-->
      <!--</div>-->
    </ion-list>

    <!--<ion-list class="vocabulary" *ngSwitchCase="'vocabulary'" >-->
      <!--<ion-item >-->
        <!--<ion-icon name="leaf" item-left></ion-icon>-->
        <!--Herbology-->
        <!--<ion-icon name="rose" item-right></ion-icon>-->
      <!--</ion-item>-->

    <!--</ion-list>-->

  </ion-col>

</ion-content>

