page-video-dubbing {

  .main-content {

    video{
      width: 100%;
      height: auto;
      .videoPlayer{
        width: 100%;
        height: auto;
      }
    }

    .bt-recorder{
      background-color: #ffffff;
      width:100%;
    }


  }

}
