<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Video Dubbing</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="main-content" no-padding>

  <div class="video-box">
    <video id="videoEditing"  preload="metadata" (click)="toggleVideo()" class="video-player" webkit-playsinline>
      <source src="assets/video/kmb.mp4" type="video/mp4"/>

    </video>
    <img *ngIf="videoIsPaused" class="bt-play" (click)="toggleVideo()"  src="assets/icon/play.png" />
    <progress-bar class="video-progress-bar" [progress]="videoProgress" ></progress-bar>
  </div>


  <div class="recorder">
    <button #btRecorder disabled="isPlaying" id="bt-recorder"  disabled={{isPlayingVideo}} class="bt-recorder" (click)="startDubbing()">
      <img width="60" height="60" class="input-img"  [src]="btRecorderIcon"  />
      <h3 *ngIf="isCountingDown" class="count-down-text">{{remnantTime}}</h3>
    </button>
    <button  class="test-player" *ngIf="customAudio" (click)="testCustomRecord()">
      <audio id="audioTest" ></audio>
      试听
      <img width="60" height="60" class="test-custom-record"  [src]="testAudioIcon"  />
    </button>
  </div>

  <ion-range min="0" step="1" snaps="true" *ngIf="showRecordRange"  (ionChange)="rangChange($event)" max={{videoDuration}} [(ngModel)]="currentTime" color="secondary">
  </ion-range>

  <button  class="hide-button" *ngIf="showNextButton" (click)="playAllDub()">
    预览
    <!--<img width="60" height="60" class="test-custom-record"  [src]="testAudioIcon"  />-->
  </button>

  <button  class="hide-button" *ngIf="showNextButton" (click)="generateDubVideo()">
    分享
    <!--<img width="60" height="60" class="test-custom-record"  [src]="testAudioIcon"  />-->
  </button>

</ion-content>

