page-video-dubbing {

  .main-content {

    .video-box{
      position: fixed;
    }

    video{
      width: 100%;
      height: 30%;
      position: relative;
    }
    .bt-play{
      z-index: 100;
      position: absolute;
      top: 15vh;
      left:40%;
    }
    .video-progress-bar{
      width: 100%;
      height: 1px;
      position: absolute;
      z-index: 100;
      top: 0;
    }

    .bt-recorder{
      background-color: #ffffff;
      width:100%;

    }

    .test-player{
      background-color: transparent;
    }





  }

}
