// http://ionicframework.com/docs/v2/theming/

.no-scroll .scroll-content{
  overflow: hidden;
}

hr.style-one {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

hr.style-four {
  height: 2px;
  //border: 0;
  //width: 50%;
  background: #32db64;
  //box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.platform-ios {
  ion-tabs.withNavbar {
    margin-top: 44px;
  }
}

ion-segment{
  color: #30d05f;
  background-color: #0a86d4;
  text-color:   #30d05f;
  ion-segment-button  {
    color: #30d05f;
    text-color:   #30d05f;
  }
}


.platform-android {
  ion-tabs.withNavbar {
    margin-top: 50px;
  }
}

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
