<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Special English</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="main-content" no-padding>
  <ion-card  class="books" *ngFor="let _specialEnglishBooks of specialEnglishBooks" >
    <!--<ion-item>-->
    <!--<ion-avatar item-left>-->
    <!--<img *ngIf="_recommedCourse" src="{{_recommedCourse.logo}}">-->
    <!--</ion-avatar>-->
    <!--<h2>Marty McFly</h2>-->
    <!--<p>November 5, 1955</p>-->
    <!--</ion-item>-->

      <ion-item class="book" detail-push (click)="gotoBook(_specialEnglishBooks)">
        <ion-thumbnail item-left>
          <img *ngIf="_specialEnglishBooks"
               src="{{_specialEnglishBooks.logo}}" >
        </ion-thumbnail>
        <h2 >    {{_specialEnglishBooks.title}}</h2>
        <p>课时:{{_specialEnglishBooks.courseTimeSpan}}</p>
        <p>特效:{{_specialEnglishBooks.content}}</p>
      </ion-item>

    <!--<hr >-->

    <div class="book-link">
      <ion-item  class="item1" (click)="gotoOnlineCourse(_specialEnglishBooks)">
        <p item-left> 我已经是学员，点我观看名师在线视频</p>
        <ion-icon item-right name="ios-arrow-dropright"></ion-icon>
      </ion-item>
      <ion-item  color="link2" class="item2" (click)="findLocation(_specialEnglishBooks)">
        <p item-left> 我还不是学员，点我观看当地授权培训点</p>
        <ion-icon item-right name="ios-arrow-dropright"></ion-icon>
      </ion-item>
    </div>

    <div  class="intro-video"

          in-view="lineInView($index, $inview, $inviewpart)" >
      <video  (play)="videoPlayed(_specialEnglishBooks)"
              (click)="toggleVideo(_specialEnglishBooks.index)"
        controls="controls" preload="metadata"  class="videoPlayer"
        (viewport-leave)="playVideo()" (viewport-enter)="pauseVideo()"><source src="{{_specialEnglishBooks.videoIntroduction}}" type="video/mp4"/>
      </video>
    </div>


  </ion-card>
</ion-content>

