<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>单词仿读</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="main-content" no-padding>

  <div class="student">
    <ion-row class="vacabulary-main" >

      <!--<ion-col col-2 >-->
        <!--<button class="bt-updatecard" *ngIf="currentIndex > 0" disabled={{disableArrowButton}} #backArrow  clear (click)="slides.slidePrev(1000)">-->
          <!--<img width="40" height="40"  src="assets/icon/backward.png" />-->
        <!--</button>-->
      <!--</ion-col>-->

      <ion-col >
        <ion-slides #slides (ionSlideDidChange)="slideChanged()" (ionSlideReachEnd)="readyForSubmit()" >
          <ion-slide *ngFor="let _vacabulary of vacabularys">
            <ion-card class="vocabulary-card" (click)="playSampleAudio()">
              <ion-card-header>
                {{_vacabulary.word}} <span>{{_vacabulary.pronunciation}}</span>
              </ion-card-header>

              <ion-card-content>
                <p>{{_vacabulary.mean}}</p>
              </ion-card-content>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-col>

      <!--<ion-col col-2 >-->
        <!--<button class="bt-updatecard"  *ngIf="currentIndex < vacabularys.length-1"  disabled={{disableArrowButton}}  clear (click)="slides.slideNext(1000)">-->
          <!--<img width="40" height="40" src="assets/icon/forward.png" />-->
        <!--</button>-->
      <!--</ion-col>-->

    </ion-row>

    <div class="avatar" text-center>
      <img width="120" height="120" src="{{userData.userInfo.avatar}}">
    </div>

    <p class="record-text">{{proptText}}</p>

    <div class="voice-recorder" padding>
      <div>
        <button class="bt-recorder"  (click)="testAudio()" disabled={{disablePlayButton}}>
          <img width="60" height="60" class="input-img" [src]="playButtonIcon" />
          试听
          <!--<ion-icon name={{testButtonIcon}}></ion-icon>-->
        </button>
      </div>

      <div>
        <button #btRecorder id="bt-recorder"  disabled={{disableRecordButton}} class="bt-recorder" >
          <img width="60" height="60" class="input-img"  [src]="recordButtonIcon" />
        </button>
        <!--</button>-->
        <!--<button #btRecorder class="bt-recorder"  (click)="startPauseRecord()" disabled={{disableRecordButton}} >-->
        <!--<ion-icon name={{recordButtonIcon}}></ion-icon>-->
        <!--</button>-->
      </div>

      <div>
        <button class="bt-submit"  (click)="nextStep()" disabled={{disableNextButton}}>
          {{nextSubmitText}}
        </button>
      </div>

    </div>
  </div>
</ion-content>
