page-online-courses {

  ion-content div ion-segment{
    color: #30d05f;
    background-color: #0a86d4;
    //text-color:   #30d05f;
    ion-segment-button  {
      color: #30d05f;
      text-color:   #30d05f;
    }
  }

}
